html {
  height: 100%;
  margin: 0;
}

body {
  height: 100%;
  margin: 0;
  line-height: 1.5em;
  font-family: sans-serif;
  font-weight: 200;
  font-size: 26px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: stretch;
}

body > p {
  font-size: 0.5em;
}

img {
  max-height: 50%;
}

aside {
  font-size: .8em;
  text-align: center;
  width: 100%
}

header, section.level1 {
  display: flex;
  flex-flow: column;
  min-height: 100%;
  overflow: hidden;
  flex: 0 1 1;
  align-items: center;
  justify-content: center;
  max-width: 45em;
}

header > *, section.level1 > * {
  flex: 0 1 1;
}

p {
  margin-top: 0;
  padding-left: 0px; 
  max-width: 25em;
  align-self: flex-start 
}

li {
  margin-left: 1em;
}

a {
  color: steelblue;
}

h1 {
  align-self: center;
}

nav {
  display: none;
}

blockquote {
  color: gray;
}

#demo {
  width: 50em;
}

svg {
  width: 100%;
  overflow: visible;
}

svg .link {
  stroke-width: 2px;
  stroke: grey;
  fill: none;
}

svg .node text.id {
  visibility: hidden;
  font-size: 1.5em;
  font-weight: 100;
  stroke: gray;
  fill: white;
  font-stretch: expanded;
}

svg .node:hover text.id {
  visibility: visible;
}

svg .node {
  cursor: pointer;
}

svg .node:active {
  stroke: black;
  stroke-width: 1px;
  fill: white;
  transition: fill 0.1s stroke-width: 0.1s;
  -webkit-cursor: grabbing;
}

pre {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  overflow: visible;
  border-radius: 3px;
  font-size: 0.9em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  line-height: 1.2em;
}

#npm.imsimple-scuttle pre {
  overflow: scroll;
}


pre > code {
  background: transparent;
  border: 0;
  padding: 0px 0px;
  white-space: pre-wrap;
}

code {
  font-family: courier, monospace;
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  font-size: 0.8em;
  padding: 0px 0.25em;
}

#the-clock-condition > p {
  margin-left: 1em;
  font-weight: 100;
  margin-top: 2em;
  margin-bottom: 2em;
}

